EWMS/EWMS.WinService/Service References/ItemsServices/ITEMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="http://com/oracle/apps/cuxmdata/ITEMS.wsdl/types/" xmlns:WL5G3N1="http://www.w3.org/2001/XMLSchema" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N3="http://com/oracle/apps/cuxmdata/ITEMS.wsdl" name="ITEMS" targetNamespace="http://com/oracle/apps/cuxmdata/ITEMS.wsdl" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:tns0="http://com/oracle/apps/cuxmdata/ITEMS.wsdl/types/" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://com/oracle/apps/cuxmdata/ITEMS.wsdl/types/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="qualified" targetNamespace="http://com/oracle/apps/cuxmdata/ITEMS.wsdl/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="ItemsRInvItemsRecUserArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ItemsRInvItemsRecUser" nillable="true" type="tns:ItemsRInvItemsRecUser" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItemsRInvItemsRecUser">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ItemsRInvItemsRecBase">
            <xsd:sequence>
              <xsd:element name="inventoryItemStatusCode" nillable="true" type="xsd:string" />
              <xsd:element name="trackingQuantityInd" nillable="true" type="xsd:string" />
              <xsd:element name="organizationId" nillable="true" type="xsd:decimal" />
              <xsd:element name="categorySetId" nillable="true" type="xsd:decimal" />
              <xsd:element name="ontPricingQtySource" nillable="true" type="xsd:string" />
              <xsd:element name="orgId" nillable="true" type="xsd:decimal" />
              <xsd:element name="createdByName" nillable="true" type="xsd:string" />
              <xsd:element name="uom" nillable="true" type="xsd:string" />
              <xsd:element name="secondaryDefaultInd" nillable="true" type="xsd:string" />
              <xsd:element name="costOfSalesAccount" nillable="true" type="xsd:decimal" />
              <xsd:element name="attribute24" nillable="true" type="xsd:string" />
              <xsd:element name="attribute25" nillable="true" type="xsd:string" />
              <xsd:element name="attribute22" nillable="true" type="xsd:string" />
              <xsd:element name="attribute23" nillable="true" type="xsd:string" />
              <xsd:element name="itemNumber" nillable="true" type="xsd:string" />
              <xsd:element name="inventoryItemId" nillable="true" type="xsd:decimal" />
              <xsd:element name="attribute21" nillable="true" type="xsd:string" />
              <xsd:element name="categoryConcatSegs" nillable="true" type="xsd:string" />
              <xsd:element name="lastUpdatedByName" nillable="true" type="xsd:string" />
              <xsd:element name="attribute26" nillable="true" type="xsd:string" />
              <xsd:element name="categoryDescription" nillable="true" type="xsd:string" />
              <xsd:element name="attribute29" nillable="true" type="xsd:string" />
              <xsd:element name="categoryId" nillable="true" type="xsd:decimal" />
              <xsd:element name="secondaryUomCode" nillable="true" type="xsd:string" />
              <xsd:element name="salesAccount" nillable="true" type="xsd:decimal" />
              <xsd:element name="taxCode" nillable="true" type="xsd:string" />
              <xsd:element name="lastUpdateDate" nillable="true" type="xsd:dateTime" />
              <xsd:element name="creationDate" nillable="true" type="xsd:dateTime" />
              <xsd:element name="itemDescription" nillable="true" type="xsd:string" />
              <xsd:element name="minMinmaxQuantity" nillable="true" type="xsd:decimal" />
              <xsd:element name="categorySetDescription" nillable="true" type="xsd:string" />
              <xsd:element name="attribute1" nillable="true" type="xsd:string" />
              <xsd:element name="attribute2" nillable="true" type="xsd:string" />
              <xsd:element name="maxMinmaxQuantity" nillable="true" type="xsd:decimal" />
              <xsd:element name="attribute3" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ItemsRInvItemsRecBase">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="ITEMS_invItemsWsInt">
    <WL5G3N0:part name="pCompany" type="WL5G3N1:string" />
    <WL5G3N0:part name="pRequestDate" type="WL5G3N1:string" />
    <WL5G3N0:part name="xInvItemsRec_out" type="WL5G3N2:ItemsRInvItemsRecUserArray" />
    <WL5G3N0:part name="xReturnMessage_out" type="WL5G3N1:string" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ITEMS_invItemsWsIntResponse">
    <WL5G3N0:part name="xInvItemsRec_out" type="WL5G3N2:ItemsRInvItemsRecUserArray" />
    <WL5G3N0:part name="xReturnMessage_out" type="WL5G3N1:string" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="ITEMS">
    <WL5G3N0:operation name="invItemsWsInt" parameterOrder="pCompany pRequestDate xInvItemsRec_out xReturnMessage_out">
      <WL5G3N0:input message="WL5G3N3:ITEMS_invItemsWsInt" />
      <WL5G3N0:output message="WL5G3N3:ITEMS_invItemsWsIntResponse" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ITEMS" type="WL5G3N3:ITEMS">
    <WL5G3N4:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <WL5G3N0:operation name="invItemsWsInt">
      <WL5G3N4:operation soapAction="http://com/oracle/apps/cuxmdata/ITEMS.wsdl/invItemsWsInt" />
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://com/oracle/apps/cuxmdata/ITEMS.wsdl" parts="pCompany pRequestDate xInvItemsRec_out xReturnMessage_out" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://com/oracle/apps/cuxmdata/ITEMS.wsdl" parts="xInvItemsRec_out xReturnMessage_out" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ITEMS">
    <WL5G3N0:port name="ITEMSPort" binding="WL5G3N3:ITEMS">
      <WL5G3N4:address location="http://172.16.3.169:9099/org.gocom.esb.ws.route/erp/scmitems" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>