EWMS/EWMS.WinService/Service References/CategoryServices/CATEGORIES.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="http://com/oracle/apps/cuxmdata/categories/CATEGORIES.wsdl/types/" xmlns:WL5G3N1="http://www.w3.org/2001/XMLSchema" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N3="http://com/oracle/apps/cuxmdata/categories/CATEGORIES.wsdl" name="CATEGORIES" targetNamespace="http://com/oracle/apps/cuxmdata/categories/CATEGORIES.wsdl" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:tns0="http://com/oracle/apps/cuxmdata/categories/CATEGORIES.wsdl/types/" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://com/oracle/apps/cuxmdata/categories/CATEGORIES.wsdl/types/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="qualified" targetNamespace="http://com/oracle/apps/cuxmdata/categories/CATEGORIES.wsdl/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="CategoriesRCategoriesRecUserArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="CategoriesRCategoriesRecUser" nillable="true" type="tns:CategoriesRCategoriesRecUser" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CategoriesRCategoriesRecUser">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:CategoriesRCategoriesRecBase">
            <xsd:sequence>
              <xsd:element name="supplierEnabledFlag" nillable="true" type="xsd:string" />
              <xsd:element name="categoryDescription" nillable="true" type="xsd:string" />
              <xsd:element name="attributeCategory" nillable="true" type="xsd:string" />
              <xsd:element name="organizationId" nillable="true" type="xsd:decimal" />
              <xsd:element name="lastUpdateDate" nillable="true" type="xsd:dateTime" />
              <xsd:element name="attribute4" nillable="true" type="xsd:string" />
              <xsd:element name="creationDate" nillable="true" type="xsd:dateTime" />
              <xsd:element name="attribute5" nillable="true" type="xsd:string" />
              <xsd:element name="attribute6" nillable="true" type="xsd:string" />
              <xsd:element name="creationByName" nillable="true" type="xsd:string" />
              <xsd:element name="lbbm" nillable="true" type="xsd:string" />
              <xsd:element name="validateFlag" nillable="true" type="xsd:string" />
              <xsd:element name="categorySetDescription" nillable="true" type="xsd:string" />
              <xsd:element name="attribute1" nillable="true" type="xsd:string" />
              <xsd:element name="lastUpdatedByName" nillable="true" type="xsd:string" />
              <xsd:element name="categoryConcatSegs" nillable="true" type="xsd:string" />
              <xsd:element name="attribute2" nillable="true" type="xsd:string" />
              <xsd:element name="attribute3" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CategoriesRCategoriesRecBase">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="CATEGORIES_invCategoriesWsInt">
    <WL5G3N0:part name="pCompany" type="WL5G3N1:string" />
    <WL5G3N0:part name="pRequestDate" type="WL5G3N1:string" />
    <WL5G3N0:part name="xCategoriesRec_out" type="WL5G3N2:CategoriesRCategoriesRecUserArray" />
    <WL5G3N0:part name="xReturnMessage_out" type="WL5G3N1:string" />
  </WL5G3N0:message>
  <WL5G3N0:message name="CATEGORIES_invCategoriesWsIntResponse">
    <WL5G3N0:part name="xCategoriesRec_out" type="WL5G3N2:CategoriesRCategoriesRecUserArray" />
    <WL5G3N0:part name="xReturnMessage_out" type="WL5G3N1:string" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="CATEGORIES">
    <WL5G3N0:operation name="invCategoriesWsInt" parameterOrder="pCompany pRequestDate xCategoriesRec_out xReturnMessage_out">
      <WL5G3N0:input message="WL5G3N3:CATEGORIES_invCategoriesWsInt" />
      <WL5G3N0:output message="WL5G3N3:CATEGORIES_invCategoriesWsIntResponse" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="CATEGORIES" type="WL5G3N3:CATEGORIES">
    <WL5G3N4:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <WL5G3N0:operation name="invCategoriesWsInt">
      <WL5G3N4:operation soapAction="http://com/oracle/apps/cuxmdata/categories/CATEGORIES.wsdl/invCategoriesWsInt" />
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://com/oracle/apps/cuxmdata/categories/CATEGORIES.wsdl" parts="pCompany pRequestDate xCategoriesRec_out xReturnMessage_out" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://com/oracle/apps/cuxmdata/categories/CATEGORIES.wsdl" parts="xCategoriesRec_out xReturnMessage_out" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="CATEGORIES">
    <WL5G3N0:port name="CATEGORIESPort" binding="WL5G3N3:CATEGORIES">
      <WL5G3N4:address location="http://172.16.3.169:9099/org.gocom.esb.ws.route/erp/scmcg" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>